
    {% extends 'blog/base.html' %}

    {% block contend %}
        <main class="container">
            <div class="row">
                <div class="col">
                    
                        <article class="post">
                            <time class="date">
                                {{ post_item.published_date }}
                            </time>
                            <h2>{{ post_item.title }}</h2>
                            <p>{{ post_item.text|linebreaksbr }}</p>
                        </article>
                </div>
            </div>
        </main>

    {% endblock %}
